Node-RED function.txt
[{"id":"275ee1a0.89f64e","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"node/mp3-player/mp3-module/-/cmd/pause","qos":"","retain":"","broker":"e649966c.8c2af8","x":930,"y":380,"wires":[]},{"id":"cc18ff6c.6642d","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"node/mp3-player/mp3-module/-/cmd/play","qos":"","retain":"","broker":"e649966c.8c2af8","x":920,"y":340,"wires":[]},{"id":"da723313.f07d8","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"node/mp3-player/mp3-module/-/cmd/stop","qos":"","retain":"","broker":"e649966c.8c2af8","x":920,"y":680,"wires":[]},{"id":"6f8c42b9.de6c9c","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"node/mp3-player/mp3-module/-/cmd/next","qos":"","retain":"","broker":"e649966c.8c2af8","x":920,"y":420,"wires":[]},{"id":"a15470c.b23739","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"node/mp3-player/mp3-module/-/cmd/prev","qos":"","retain":"","broker":"e649966c.8c2af8","x":920,"y":460,"wires":[]},{"id":"3fdd0ad4.766756","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"node/mp3-player/mp3-module/-/cmd/volume-up","qos":"","retain":"","broker":"e649966c.8c2af8","x":940,"y":720,"wires":[]},{"id":"8be73e52.ad709","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"node/mp3-player/mp3-module/-/cmd/volume-down","qos":"","retain":"","broker":"e649966c.8c2af8","x":950,"y":760,"wires":[]},{"id":"404169a3.9d1528","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"node/mp3-player/mp3-module/-/cmd/volume-set","qos":"","retain":"","broker":"e649966c.8c2af8","x":940,"y":820,"wires":[]},{"id":"689ce577.b660dc","type":"ui_slider","z":"2c41a2bd.aa36ae","name":"","label":"volume","group":"57ff470b.93fdf8","order":0,"width":0,"height":0,"passthru":false,"outs":"all","topic":"","min":0,"max":"30","step":1,"x":150,"y":820,"wires":[["f8fa7200.8d88b"]]},{"id":"62ceacb5.cde0f4","type":"ui_button","z":"2c41a2bd.aa36ae","name":"","group":"57ff470b.93fdf8","order":0,"width":0,"height":0,"passthru":false,"label":"play","color":"","bgcolor":"","icon":"fa-play","payload":"0","payloadType":"num","topic":"","x":130,"y":340,"wires":[["cc18ff6c.6642d"]]},{"id":"e867b93f.57f9e8","type":"ui_button","z":"2c41a2bd.aa36ae","name":"","group":"57ff470b.93fdf8","order":0,"width":0,"height":0,"passthru":false,"label":"pause","color":"","bgcolor":"","icon":"fa-pause","payload":"0","payloadType":"num","topic":"","x":130,"y":380,"wires":[["275ee1a0.89f64e"]]},{"id":"e5e66647.4f7308","type":"ui_button","z":"2c41a2bd.aa36ae","name":"","group":"57ff470b.93fdf8","order":0,"width":0,"height":0,"passthru":false,"label":"stop","color":"","bgcolor":"","icon":"fa-stop","payload":"0","payloadType":"num","topic":"","x":150,"y":680,"wires":[["da723313.f07d8"]]},{"id":"b82b4944.971278","type":"ui_button","z":"2c41a2bd.aa36ae","name":"","group":"57ff470b.93fdf8","order":0,"width":0,"height":0,"passthru":false,"label":"next","color":"","bgcolor":"","icon":"fa-forward","payload":"0","payloadType":"num","topic":"","x":130,"y":420,"wires":[["6f8c42b9.de6c9c","8c043913.3d42e8"]]},{"id":"f3aebb38.2cf418","type":"ui_button","z":"2c41a2bd.aa36ae","name":"","group":"57ff470b.93fdf8","order":0,"width":0,"height":0,"passthru":false,"label":"prev","color":"","bgcolor":"","icon":"fa-backward","payload":"0","payloadType":"num","topic":"","x":130,"y":460,"wires":[["a15470c.b23739","a7c63e65.d0e06"]]},{"id":"7e41130c.4cde2c","type":"ui_button","z":"2c41a2bd.aa36ae","name":"","group":"57ff470b.93fdf8","order":0,"width":0,"height":0,"passthru":false,"label":"volumeUp","color":"","bgcolor":"","icon":"fa-plus","payload":"0","payloadType":"num","topic":"","x":160,"y":720,"wires":[["3fdd0ad4.766756","aa9fe785.cbbce8"]]},{"id":"76fab5eb.e8feac","type":"ui_button","z":"2c41a2bd.aa36ae","name":"","group":"57ff470b.93fdf8","order":0,"width":0,"height":0,"passthru":false,"label":"volumeDown","color":"","bgcolor":"","icon":"fa-minus","payload":"0","payloadType":"num","topic":"","x":150,"y":760,"wires":[["8be73e52.ad709","b6a15ad7.5bc3c8"]]},{"id":"d9575816.f791c8","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"node/mp3-player/mp3-module/-/cmd/song-index","qos":"","retain":"","broker":"e649966c.8c2af8","x":940,"y":920,"wires":[]},{"id":"4000c1f6.0ea8d","type":"ui_slider","z":"2c41a2bd.aa36ae","name":"","label":"song","group":"57ff470b.93fdf8","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"1","max":"100","step":1,"x":150,"y":920,"wires":[["3f18c183.09550e"]]},{"id":"b65b86cc.a68b78","type":"ui_slider","z":"2c41a2bd.aa36ae","name":"","label":"folder","group":"57ff470b.93fdf8","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"1","max":"20","step":1,"x":150,"y":1000,"wires":[["e0cf1505.8af6e8","74b832a0.7eb35c"]]},{"id":"e0cf1505.8af6e8","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"node/mp3-player/mp3-module/-/cmd/folder","qos":"","retain":"","broker":"e649966c.8c2af8","x":930,"y":1000,"wires":[]},{"id":"bab8f0e6.253d6","type":"blynk-ws-in-write","z":"2c41a2bd.aa36ae","name":"","pin":"1","pin_all":0,"client":"26f45542.cf788a","x":170,"y":520,"wires":[["589452a3.51f9fc"]]},{"id":"589452a3.51f9fc","type":"switch","z":"2c41a2bd.aa36ae","name":"command Check","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"play","vt":"str"},{"t":"cont","v":"next","vt":"str"},{"t":"cont","v":"prev","vt":"str"},{"t":"cont","v":"stop","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":370,"y":520,"wires":[["cc18ff6c.6642d"],["6f8c42b9.de6c9c"],["a15470c.b23739"],["275ee1a0.89f64e"]]},{"id":"a679dff4.4ae45","type":"blynk-ws-in-write","z":"2c41a2bd.aa36ae","name":"","pin":"2","pin_all":0,"client":"26f45542.cf788a","x":190,"y":880,"wires":[["caa1c1d5.c9f82"]]},{"id":"caa1c1d5.c9f82","type":"function","z":"2c41a2bd.aa36ae","name":"Int parser","func":"parseInt(msg.payload, 10);\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":880,"wires":[["f8fa7200.8d88b"]]},{"id":"d0f9a258.03e78","type":"blynk-ws-in-write","z":"2c41a2bd.aa36ae","name":"","pin":"3","pin_all":0,"client":"26f45542.cf788a","x":190,"y":1040,"wires":[["b65b86cc.a68b78"]]},{"id":"c0d710c8.8f40d","type":"blynk-ws-in-write","z":"2c41a2bd.aa36ae","name":"","pin":"4","pin_all":0,"client":"26f45542.cf788a","x":190,"y":960,"wires":[["4000c1f6.0ea8d"]]},{"id":"a0179d44.7daaa","type":"blynk-ws-out-write","z":"2c41a2bd.aa36ae","name":"","pin":"2","pinmode":0,"client":"26f45542.cf788a","x":620,"y":620,"wires":[]},{"id":"aa9fe785.cbbce8","type":"function","z":"2c41a2bd.aa36ae","name":"Volume up","func":"var value=flow.get('volume') || 0;\nvalue += 1;\nflow.set('volume', value);\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":600,"wires":[["a0179d44.7daaa"]]},{"id":"f8fa7200.8d88b","type":"function","z":"2c41a2bd.aa36ae","name":"Volume update","func":"flow.set('volume', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":820,"wires":[["404169a3.9d1528","689ce577.b660dc"]]},{"id":"b6a15ad7.5bc3c8","type":"function","z":"2c41a2bd.aa36ae","name":"Volume down","func":"var value=flow.get('volume') || 0;\nvalue -= 1;\nflow.set('volume', value);\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":640,"wires":[["a0179d44.7daaa"]]},{"id":"8c043913.3d42e8","type":"function","z":"2c41a2bd.aa36ae","name":"next song","func":"var value=flow.get('song') || 0;\nvalue += 1;\nflow.set('song', value);\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":240,"wires":[["9defeae.4f2c618"]]},{"id":"a7c63e65.d0e06","type":"function","z":"2c41a2bd.aa36ae","name":"prev song","func":"var value=flow.get('song') || 0;\nvalue -= 1;\nflow.set('song', value);\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":280,"wires":[["9defeae.4f2c618"]]},{"id":"9defeae.4f2c618","type":"blynk-ws-out-write","z":"2c41a2bd.aa36ae","name":"","pin":"4","pinmode":0,"client":"26f45542.cf788a","x":780,"y":260,"wires":[]},{"id":"3f18c183.09550e","type":"function","z":"2c41a2bd.aa36ae","name":"Volume update","func":"flow.set('song', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":920,"wires":[["d9575816.f791c8","5a6435aa.7eb2dc"]]},{"id":"5a6435aa.7eb2dc","type":"blynk-ws-out-write","z":"2c41a2bd.aa36ae","name":"","pin":"4","pinmode":0,"client":"26f45542.cf788a","x":840,"y":880,"wires":[]},{"id":"74b832a0.7eb35c","type":"blynk-ws-out-write","z":"2c41a2bd.aa36ae","name":"","pin":"3","pinmode":0,"client":"26f45542.cf788a","x":580,"y":980,"wires":[]},{"id":"e649966c.8c2af8","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"57ff470b.93fdf8","type":"ui_group","z":"","name":"Default","tab":"11207769.c31889","disp":true,"width":"6","collapse":false},{"id":"26f45542.cf788a","type":"blynk-ws-client","z":"","name":"","path":"ws://blynk-cloud.com/websockets","key":"","dbg_all":false,"dbg_read":false,"dbg_write":false,"dbg_notify":false,"dbg_mail":false,"dbg_prop":false,"dbg_sync":false,"dbg_bridge":false,"dbg_low":false,"dbg_pins":"","multi_cmd":false,"proxy_type":"no","proxy_url":""},{"id":"11207769.c31889","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]